.NavBar {
  display: flex;
  width: 210px;
  flex-direction: column;
  height: 99vh;
  padding: 1px 34px 0 26px;
}

.Logo {
  width: 210px;
  height: 58px;
  margin: 48px 31px 8px -23px;
  text-align: center;
}
