.PlaylistCarousel {
  padding: 120px 200px 100px 140px;
}
.Top {
  display: flex;
  justify-content: space-between;
}

.Title {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
}

.Body {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Playlist {
  margin-right: 25px;
  margin-bottom: 20px;
}
