.PlaylistItem {
  width: 200px;
}

.Image img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.Title {
  margin-top: 19px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(25, 20, 20, 1);
}

.Description {
  margin-top: 5px;
  margin-right: 10px;
  color: rgba(100, 100, 100, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
